* {
  margin: 0px;
  padding: 0px;
}

body {
  /* this make the content center */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

#count-box {
  /* adding few looks to it */
  background-color: #ffffff0f;
  padding: 5% 10% 5% 10%;
  border-radius: 3rem;
  border: 4px solid rgb(255, 209, 2);
}

#countLabel {
  /* counting the numbers and style */
  text-align: center;
  font-size: 10rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  border: 6px solid rgb(255, 209, 2);
}

.count-btn {
  /* make sure that btn are arrage in row */
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: center;
  gap: 10px;
  margin-top: 50%;
}


/* give few touches to btn */
#decreaseBtn {
  padding: 5% 20%;
  cursor: pointer;
  border-radius: 50rem;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  border: 2px solid rgb(255, 209, 2);
}

#resetBtn {
  padding: 5% 20%;
  cursor: pointer;
  border-radius: 50rem;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  border: 2px solid rgb(255, 209, 2);
}

#increaseBtn {
  padding: 5% 20%;
  cursor: pointer;
  border-radius: 50rem;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  border: 2px solid rgb(255, 209, 2);
}